@using Microsoft.AspNet.Identity;
@model MovieCom.Web.Models.Movie.MovieViewModel
@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>@Model.Title</h2>
    <h4>"@Model.Slogan"</h4>
    @if (User.IsInRole(MovieCom.Common.Enums.Roles.Admin))
    {
        <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Movie", new { id = Model.Id})'">Редактировать</button>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <div>
            @Html.LabelFor(m => m.Year)
            <p>@Model.Year</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Genres)

        </div>
        <div>
            @Html.LabelFor(m => m.Actors)

        </div>
        <div>
            @Html.LabelFor(m => m.Imdb)
            <p>@Model.Imdb</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Rating)
            <p>@Model.Rating</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="@Model.PosterLink" />
        <p>@Model.Slogan</p><br />
        @Html.Partial("~/Views/Movie/Partial/VoteForMovie.cshtml", new MovieCom.Web.Models.Movie.MovieVoteViewModel())
    </div>
</div>
<div class="container">
    <h2>Комментарии:</h2>
    @foreach(var comment in Model.Comments)
    {
        <div class="row">
            <div class="col-md-3">
                <h4>@comment.User.UserName</h4>
                <h5>@comment.CreatedAt</h5>
            </div>
            <div class="col-md-9">
                <text>@comment.Text</text>
            </div>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Views/Movie/Partial/AddCommentPartialView.cshtml", new MovieCom.Web.Models.Movie.CommentViewModel { MovieId = Model.Id})
    }
    else
    {
        <p>Для того, чтобы оставить комментарий, необходимо авторизоваться.</p>
    }
</div>