@using Microsoft.AspNet.Identity;
@model MovieCom.Web.Models.Movie.MovieViewModel
@Scripts.Render("~/bundles/knockout")
@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>@Model.Title</h2>
    <h4>"@Model.Slogan"</h4>
    @if (User.IsInRole(MovieCom.Common.Enums.Roles.Admin))
    {
        <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Movie", new { id = Model.Id})'">Редактировать</button>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <div>
            @Html.LabelFor(m => m.Year)
            <p>@Model.Year</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Genres)<br />
            @foreach (var genre in Model.Genres)
            {
                <text>@genre.Name</text>
            }
        </div>
        <div>
            @Html.LabelFor(m => m.Actors)<br />
            @foreach (var actor in Model.Actors)
            {
                <text>@actor.DisplayName</text>
            }
        </div>
        <div>
            @Html.LabelFor(m => m.Imdb)
            <p>@Model.Imdb</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Rating)
            <p>@Model.Rating</p>
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="@Model.PosterLink" />
        <p>@Model.Slogan</p><br />
        @Html.Partial("~/Views/Movie/Partial/VoteForMovie.cshtml", new MovieCom.Web.Models.Movie.MovieVoteViewModel())
    </div>
</div>
<div class="container">
    <h2>Комментарии:</h2>
    <div class="table table-condensed" data-bind="foreach:comments">
        <div class="row">
            <div class="col-md-3">
                <h4 data-bind="text:User.UserName"></h4>
                <h5 data-bind="text:CreatedAt"></h5>
                <a class="btn btn-primary" data-toggle="collapse" data-bind="attr:{href:$parent.collapseHref}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Ответить
                </a>
            </div>
            <div class="col-md-9">
                <p data-bind="text:Text"></p>
            </div>
        </div>
        <div class="collapse" data-bind="attr:{id:Id}">
            <div class="card card-body">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("~/Views/Movie/Partial/AddCommentPartialView.cshtml", new MovieCom.Web.Models.Movie.CommentViewModel { MovieId = Model.Id })
                }
                else
                {
                    <p>Для того, чтобы оставить комментарий, необходимо авторизоваться.</p>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function CommentsViewModel() {
        var self = this;
        self.comments = ko.observableArray(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.Comments, Newtonsoft.Json.Formatting.Indented)));
        self.reply = function(comment){
        };
        self.collapseHref = function(comment){
            var link = '#' + comment.Id;
            return link;
        };
    }
    ko.applyBindings(new CommentsViewModel());
</script>