@model MovieCom.Web.Models.Movie.MoviesListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Список фильмов</h2>
@Html.ActionLink("Добавить", "Edit", "Movie") 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Год</th>
            <th scope="col">Рейтинг IMDB</th>
            <th scope="col">Пользоавтельский рейтинг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            
            <tr onclick="location.href = '@Url.Action("Details", "Movie", new { movieId = movie.Id})'">
                <td scope="row">@Html.DisplayFor(modelItem => movie.Title)</td>
                <td scope="row">@Html.DisplayFor(modelItem => movie.Year)</td>
                <td scope="row">@Html.DisplayFor(modelItem => movie.Imdb)</td>
                <td scope="row">@Html.DisplayFor(modelItem => movie.Rating)</td>
            </tr>
        
        }
    </tbody>
</table>